body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
}

caption {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c2b2b;
    border: 2px solid #ddd;
    background-color: #f9f9f9;
    padding: 1vh;
}

th,
td {
    border: 1px solid #ddd;
    padding: 1.4vh 1vw;
    text-align: center;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
}