* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container_form {
    margin: 0 auto;
    background-color: #f4f4f4;
    width: 70%;
}

.boton {
    background-color: #4caf50;
    color:white!important;
    border:none;
    padding:5px;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
}

input,
label,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 300px;
  box-sizing: border-box;
  margin: 10px 0;
}

form {
    color: #333333;  
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    border: 0;
    width: 330px;  
    border-radius: 5px;
}

fieldset { 
    border: 0;
}