body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

table {
    width: auto;
    border-collapse: collapse;
    margin: 10vh 5vv;
}

img {
    border:2px solid black;
    max-width: 90%;
    height: auto;
}

